

$c-001: #454545;
$c-002: #ffffff;
$c-003: #333333;
$c-004: #bbbbbb;
$c-005: #efefef;

.FlashcardPage {
    .-TermRow, .-ButtonRow, .-ModeSelectorRow {
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 20px;
        font: inherit;
    }
    .-TermRow {
        padding: 10px 0px;
        font-size: 1.3em;
        &.-em {
            border: none;
            color: $c-002;
            background: $c-001;
        }
        &:not(.-em) {
            border: 1px dashed $c-001;
            color: $c-003;
            background: $c-002;
        }
    }
    .-ButtonRow {
        padding: 5px 0px;
        border: 1px solid $c-001;
        background: $c-002;
        color: $c-003;
        transition: 0.25s color, 0.25s background-color, 0.25s border;;
        &:hover {
            background: $c-001;
            color: $c-002;
        }
    }
    .-AnswerInfoHeader {
        border-bottom: 1px solid $c-004;
        padding-bottom: .4em;
        color: $c-001;
    }
    .-AnswerInfo {
        blockquote { border-inline-start: 3px solid $c-004; margin: 1em 1em; padding-inline-start: 0.5em; }
        code { background: $c-005; padding: .2em .4em; border-radius: 4px;}
        img { max-width: 100%; }
        h1,h2 {
            border-bottom: 1px solid $c-004;
            padding-bottom: .4em;
        }
        h1,h2,h3,h4,h5,h6 {
            color: $c-001;
        }
    }
    .-ModeSelectorRow {
        background: $c-001;
        color: $c-002;
        .-modes {
            display: flex;
            button {
                flex: 1;
                padding: 5px;
                margin: 5px;

                background: none;
                color: $c-002;
                border: 1px solid $c-002;
                transition: 0.25s background-color, 0.25s color, 0.25s border;
                &.-sel, &:hover {
                    background: $c-002;
                    color: $c-003;
                }
            }
        }
    }
}
